@inject IConfiguration Configuration;

@{
    int cacheTimeInSeconds = int.Parse(Configuration["LayoutCacheTimeInSeconds"]);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="nofollow,noindex,noarchive,noodp,notranslate,noimageindex,nosnippet,noydir" />
    <cache expires-after="@TimeSpan.FromSeconds(cacheTimeInSeconds)">@await Component.InvokeAsync("DNSPrefetch")</cache>
    @RenderSection("MetaTags", false)
    <title>@ViewData["Title"] - <cache expires-after="@TimeSpan.FromSeconds(3)">@await Component.InvokeAsync("SiteName")</cache></title>
    @await Component.InvokeAsync("WebsiteStyles")
    <cache expires-after="@TimeSpan.FromSeconds(cacheTimeInSeconds)">@await Component.InvokeAsync("Favicon")</cache>
    <cache expires-after="@TimeSpan.FromSeconds(cacheTimeInSeconds)">@await Component.InvokeAsync("CustomCSS")</cache>
    <cache expires-after="@TimeSpan.FromSeconds(cacheTimeInSeconds)">@await Component.InvokeAsync("CustomJS")</cache>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg py-3 bg-white fixed-top" aria-label="Demo 1">
            <div class="container">
                <a href="/" class="navbar-brand"><cache expires-after="@TimeSpan.FromSeconds(cacheTimeInSeconds)">@await Component.InvokeAsync("SiteName")</cache></a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbar-1"
                        aria-controls="navbar-1"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars fa-lg"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbar-1">
                    <cache expires-after="@TimeSpan.FromSeconds(cacheTimeInSeconds)">@await Component.InvokeAsync("Navigation")</cache>
                </div>
            </div>
        </nav>
    </header>
    <main id="main">
        @RenderBody()
    </main>
    @await Component.InvokeAsync("SiteFooter")
    @await Component.InvokeAsync("WebsiteScript")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
